h1 {
color: #555B6E; 
font-size: 40px;
}
h2 {
color:  #555B6E;
font-size: 30px;
}

.container {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #ffffff;
  font-weight: 300;
  padding: 24px;
  margin: 16px auto;
  text-align: center;

  color: #000;
		font-size: 2rem;
		animation: blinkingText 2s infinite;
	}
	@keyframes blinkingText{
		0%		{ color: #10c018;}
		25%		{ color: #1056c0;}
		50%		{ color: #ef0a1a;}
		75%		{ color: #254878;}
		100%	{ color: #04a1d5;}
}

#busta {
  width: 500px;
  padding: 70px;
  border-radius: 30%;
}

.card {
  background: rgb(235, 234, 234);
  box-shadow: #555B6E;
  margin:16px auto;
  padding: 15px;
  text-align: center;
  font-family: 'Nerko One', cursive;
}

	.blink-bg{
		padding: 10px;
		display: inline-block;
		animation: blinkingBackground 2s infinite;
	}
	@keyframes blinkingBackground{
		0%		{ background-color: #10c018;}
		25%		{ background-color: #1056c0;}
		50%		{ background-color: #ef0a1a;}
		75%		{ background-color: #254878;}
		100%	        { background-color: #04a1d5;}
  }
  
    @media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}